<div class='container'>
  <div class='display-'>top</div>
  <p>
  <%= link_to 'ユーザー登録', new_user_path %>
  </p>
  <div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
        <%= image_tag 'image1.jpg'%>
    </div>
    <div class="swiper-slide">
        <%= image_tag 'image2.jpg'%>
    </div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
</div>

<!-- Slider main container -->

